@use "variables" as *;

.chat-window {
    .empty-chatbox {
        position: fixed;
        top: 40%;
        left: 60%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        background-color: rgba($color: $green-color, $alpha: 0.8);
        text-align: center;
        .title {
            color: $white-color;
        }
        .icon-inbox {
            fill: rgba($color: $white-color, $alpha: 0.7);
            height: 50%;
            width: 50%;
        }
    }
}
