@use "variables" as *;

$max-height-header: 110px;
$max-height-input: 80px;

.chat-box {
    height: 100vh;
    .header {
        max-height: $max-height-header;
        border-bottom: 2px solid $separator-color;
        background-color: rgba($color: $primary-color, $alpha: 0.75);
        box-shadow: 0px 2px 10px 0px #0a2c3d99;

        .wrapper-header {
            .room-pic {
                border: 1px solid $secondary-color;
            }
            .name {
                color: $white-color;
            }
        }

        .icon-more-info {
            fill: $black-color;
            cursor: pointer;
        }
    }
    .messages {
        height: calc(100vh - $max-height-header - $max-height-input);
        overflow-x: hidden;
        overflow-y: auto;
    }
}
