@use "variables" as *;

.chat-info {
    height: 100vh;
    background-image: linear-gradient(
        to right,
        rgba($color: $green-color, $alpha: 0.8),
        rgba($color: $green-color, $alpha: 1)
    );
    .chat-members {
        overflow: hidden;
        .list-members {
            max-height: 90%;
            overflow-x: hidden;
            overflow-y: auto;
            .item-member {
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.2s linear;

                &:hover {
                    background-color: rgba($color: $light-green-color, $alpha: 0.2);
                }

                &.not-hover {
                    &:hover {
                        background-color: none;
                    }
                }
            }
        }
    }
}
