@use "variables" as *;

$max-height-list: 100px;

.create-room-modal {
    .header,
    .body {
        border: none;
        background-color: $primary-color;
    }

    .body {
        .search-box {
            background-color: $white-color;
            border-radius: 4px;

            .search-input {
                border: none;

                &:focus ~ .search-list {
                    display: block;
                }
            }
            .clear-icon,
            .search-icon {
                color: $gray-color;
                cursor: pointer;
            }

            .search-list {
                display: none;
                max-height: $max-height-list;
                width: 100%;
                color: $black-color;
                background-color: $white-color;
                border-radius: 4px;
                transform: translateY(calc(100% + 2px));
                overflow-x: hidden;
                overflow-y: scroll;

                &:active {
                    display: block;
                }

                .search-item {
                    &:hover {
                        background-color: rgba($color: $black-color, $alpha: 0.1);
                    }
                    cursor: pointer;
                }
            }
        }
        .btn-submit {
            background-color: $black-color !important;
            background-image: none;
        }

        .list-added-user {
            max-height: $max-height-list;
            overflow-x: hidden;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 2px;
                &:hover {
                    width: 4px;
                }
            }
            .added-user {
                background-color: antiquewhite;
                width: fit-content;
                max-width: 100%;
                border-radius: 10px;
                user-select: none;

                .username {
                    word-wrap: break-word;
                    overflow: hidden;
                }

                & + .added-user {
                    margin-top: 4px;
                }
            }
            .delete-icon {
                cursor: pointer;
            }
        }
    }
}
