@use "variables" as *;

.edit-profile-modal {
    .header,
    .body {
        border: none;
        background-color: $primary-color;
        border-color: $light-green-color;
    }

    .body {
        .input-username {
            cursor: not-allowed;
        }
    }

    .avatar-user {
        cursor: pointer;
    }

    .input-username {
        background-color: rgba($color: $light-green-color, $alpha: 0.5) !important;
        border-color: transparent;
    }
}
