@use "variables" as *;

.login-page,
.register-page {
    height: 100%;
    width: 100vw;
    .form {
        padding: 12px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: $width-form;
        width: 100%;
        background-color: #f3f5d5;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 6px 2px;
        overflow: hidden;

        .logo-image {
            text-align: center;
            .logo {
                width: 60%;
                object-fit: contain;
                object-position: center;
            }
        }

        .form-group {
            margin-top: 4px;
            display: flex;
            align-items: center;
            background-color: #f3f5d5;
            border-color: rgba($color: #5cc2f2, $alpha: 0.8);
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 1px 2px;
            transition: all 0.1s ease-in;

            &:focus-within {
                box-shadow: rgba(0, 0, 0, 0.15) -0.5px 0px 1px 1px;
                transform: translateY(1px);
            }
            .input {
                background-color: transparent;
                border-color: transparent;
                font-weight: 600;
            }
            .icon-issue {
                margin-right: 4px;
                color: $red-color;
                fill: $red-color;
                user-select: none;
            }

            &.password {
                .icon-password {
                    margin-right: 4px;
                    cursor: pointer;
                    user-select: none;
                }
            }

            & + .form-group {
                margin-top: 8px;
            }
        }

        .submit-btn {
            margin-top: 8px;
            padding: 4px 8px;
            font-weight: 600;
            box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 1px 2px;
            transition: none;
            &:active {
                box-shadow: rgba(0, 0, 0, 0.15) -0.5px 0px 1px 1px;
                transform: translateY(1px);
            }
        }
    }
}
