@use "variables" as *;

.popper {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateY(2px);
    background-color: $white-color;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px rgba($color: $black-color, $alpha: 0.2);
}
