@use "variables" as *;

.textarea-limit-word {
    .textarea {
        background-color: $light-green-color !important;
        font-style: italic;
        border: none;
    }
    .limit-words {
        bottom: 10px;
        font-size: 12px;
        color: $green-color;

        &.left {
            left: 20px;
        }
        &.right {
            right: 20px;
        }
    }
}
