@use "./styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: $separator-color;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: $separator-color;
}

.App {
    background-color: $green-color;
    background-image: url("./assets/images/background.png");
    height: 100vh;
}

.modal-content {
    border-radius: 20px !important;
    overflow: hidden !important;
}

.form-control {
    box-shadow: none !important;
}

.btn {
    &:hover {
        opacity: 0.8;
    }

    // variant
    &-primary {
        background-image: linear-gradient(
            to right,
            rgba($color: $primary-color, $alpha: 0.9),
            rgba($color: $primary-color, $alpha: 1.1)
        ) !important;
        border: none !important;
    }

    &-outline {
        background-color: rgba($color: $secondary-color, $alpha: 0.6) !important;
        border: 2px solid $primary-color !important;
        &:active,
        &:hover {
            border-color: $primary-color !important;
        }
    }
    &-secondary {
        background-image: linear-gradient(
            to right,
            rgba($color: $light-green-color, $alpha: 0.8),
            rgba($color: $green-color, $alpha: 1.1)
        ) !important;
        border: none !important;
    }

    // size
    &-small {
        padding: 2px 4px !important;
    }
    &-medium {
        padding: 4px 8px !important;
    }
}

.avatar {
    &-medium {
        height: $medium-avatar-size;
        width: $medium-avatar-size;
        border-radius: 50%;
        @include fit-image();
    }
    &-larger {
        height: $larger-avatar-size;
        width: $larger-avatar-size;
        border-radius: 50%;
        @include fit-image();
    }
    &-large {
        height: $large-avatar-size;
        width: $large-avatar-size;
        border-radius: 50%;
        @include fit-image();
    }
    &-huge {
        height: $huge-avatar-size;
        width: $huge-avatar-size;
        border-radius: 50%;
        @include fit-image();
    }

    &-smaller {
        height: $smaller-avatar-size;
        width: $smaller-avatar-size;
        border-radius: 50%;
        @include fit-image();
    }
    &-small {
        height: $small-avatar-size;
        width: $small-avatar-size;
        border-radius: 50%;
        @include fit-image();
    }
}
